<td class="id">{{request.[0]}}</td>
<td class="method">{{request.[1]}}</td>
<td class="url"><a href={{request.[2]}} target="_blank">{{request.[2]}}</a></td>
<td class="requests">{{request.[3]}}</td>
<td class="bytes">{{request.[4]}}</td>
<td class="difficulty">{{request.[5]}}</td>
